@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../assets/font/Roboto-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
html {
  font-size: 4px;
}

body {
  font-family: "Roboto";
  font-size: 4rem;
  font-weight: 500;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 704px;
  }
}
@media screen and (max-width: 426px) {
  .container {
    max-width: 352px;
  }
}

.burger {
  display: none;
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
}

.block1 {
  background-image: url("../assets/images/background1Desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  .block1 {
    background-image: url("../assets/images/background1Tablet.png");
  }
}
@media screen and (max-width: 425px) {
  .block1 {
    background-image: url("../assets/images/background1Mobile.png");
  }
}

.block2 {
  background-image: url("../assets/images/background2Desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .block2 {
    background-image: url("../assets/images/background2Tablet.png");
  }
}
@media screen and (max-width: 425px) {
  .block2 {
    background-image: url("../assets/images/background2Mobile.png");
  }
}

.block3 {
  background-image: url("../assets/images/backgroundFooterDesktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 768px) {
  .block3 {
    background-image: url("../assets/images/backgroundFooterTablet.png");
  }
}
@media screen and (max-width: 425px) {
  .block3 {
    background-image: url("../assets/images/backgroundFooterMobile.png");
  }
}

.header {
  background-color: hsla(236, 5%, 8%, 0.5);
  height: 64px;
  display: flex;
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: transparent;
    height: 80px;
  }
}
.header .container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.header .container_flex .nav {
  display: flex;
  column-gap: 12px;
  height: 23px;
}
.header .container_flex .nav__el {
  align-self: center;
  transition: 0.4s;
}
.header .container_flex .nav__el:hover {
  font-weight: 600;
  font-size: 5rem;
}
@media screen and (max-width: 1024px) {
  .header .container_flex .nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header .container_flex .tel {
    display: none;
  }
}

.container .preview {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 768px) {
  .container .preview {
    margin-top: 48px;
  }
}
.container .preview .decor-line {
  height: 1px;
  background-color: #FFFFFF;
  width: 317px;
  align-self: center;
  align-self: flex-start;
  position: relative;
  top: 260px;
}
@media screen and (max-width: 768px) {
  .container .preview .decor-line {
    position: absolute;
    top: 353px;
    left: 0;
    width: 59px;
  }
}
.container .preview .astronaut {
  margin-right: -30px;
  max-width: 100%;
}
@media screen and (max-width: 426px) {
  .container .preview .astronaut {
    margin-left: -15px;
  }
}
.container .preview .info {
  align-self: center;
}
.container .preview .info__type {
  font-weight: 300;
  font-size: 7rem;
  letter-spacing: 5.6px;
  text-align: end;
  margin-right: -5px;
  padding-bottom: 11.91px;
}
@media screen and (max-width: 950px) {
  .container .preview .info__type {
    font-size: 5.3875rem;
    letter-spacing: 4.31px;
    padding-bottom: 9.61px;
  }
}
@media screen and (max-width: 715px) {
  .container .preview .info__type {
    font-size: 2.9075rem;
    letter-spacing: 2.126px;
    padding-bottom: 5.18px;
  }
}
.container .preview .info__name {
  font-weight: 400;
  font-size: 104px;
  letter-spacing: 26px;
}
.container .preview .info__name .info_position {
  letter-spacing: 0;
}
@media screen and (max-width: 950px) {
  .container .preview .info__name {
    font-size: 20.015rem;
    letter-spacing: 20.015px;
  }
}
@media screen and (max-width: 715px) {
  .container .preview .info__name {
    font-size: 10.8025rem;
    letter-spacing: 10.8025px;
  }
}
.container .down-sign {
  font-size: 7.5rem;
  position: relative;
  bottom: 68px;
}
@media screen and (max-width: 768px) {
  .container .down-sign {
    position: relative;
    text-align: end;
    font-size: 6rem;
    bottom: 75px;
  }
}
@media screen and (max-width: 426px) {
  .container .down-sign {
    position: static;
    padding-bottom: 48px;
  }
}
.container .date {
  font-weight: 600;
  font-size: 5rem;
  text-align: end;
  padding-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .container .date {
    text-align: center;
    padding-bottom: 24px;
  }
}

.about {
  background-color: hsla(0, 10%, 65%, 0.25);
  backdrop-filter: blur(20px);
  font-size: 20px;
  padding: 111px 0 32px 0;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 86px 0 64px 0;
  }
}
.about__header {
  display: flex;
  align-items: center;
  gap: 44px;
}
@media screen and (max-width: 768px) {
  .about__header {
    column-gap: 24px;
  }
}
@media screen and (max-width: 425px) {
  .about__header {
    flex-direction: column-reverse;
    row-gap: 32px;
  }
  .about__header .logo {
    display: none;
  }
}
.about__header-line {
  height: 1px;
  background-color: #ffffff;
  width: 223px;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .about__header-line {
    width: 150px;
  }
}
.about__header-title {
  font-size: 48px;
  letter-spacing: 9.6px;
  font-weight: 300;
  margin-left: -4px;
}
@media screen and (max-width: 768px) {
  .about__header-title {
    font-size: 32px;
    letter-spacing: 6.4px;
    margin: 0;
  }
}
.about__inner {
  max-width: 594px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.about__inner .about__inner-item:first-of-type {
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .about__inner .about__inner-item:first-of-type {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .about__inner {
    row-gap: 24px;
    font-size: 18px;
    width: 519px;
  }
}
@media screen and (max-width: 425px) {
  .about__inner {
    padding-top: 24px;
    flex-direction: column;
    text-align: center;
    width: 352px;
    row-gap: 12px;
  }
}
.about__year {
  text-align: end;
  padding-top: 68px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .about__year {
    padding-top: 24px;
    text-align: start;
    padding-left: 185px;
  }
}
@media screen and (max-width: 425px) {
  .about__year {
    display: none;
  }
}

.image-wrapper {
  position: relative;
}
.image-wrapper .spacecraft {
  position: absolute;
  top: 190px;
  left: 45px;
  filter: blur(5px);
}
@media screen and (max-width: 768px) {
  .image-wrapper .spacecraft {
    top: 139px;
    left: 0;
    z-index: -1;
  }
}

.block-odd {
  display: flex;
  padding-top: 128px;
  font-size: 28px;
  letter-spacing: 5.6px;
  font-weight: 300;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .block-odd {
    padding-top: 86px;
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}
@media screen and (max-width: 425px) {
  .block-odd {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 42px;
  }
}
.block-odd .line {
  height: 1px;
  background-color: #FFFFFF;
  width: 745px;
  align-self: center;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .block-odd .line {
    width: 392px;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 750px) {
  .block-odd .line {
    position: static;
    width: 172px;
  }
}

.block-two {
  padding-top: 68px;
  display: flex;
  padding-bottom: 64px;
  column-gap: 12px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1200px) {
  .block-two {
    padding-top: 48px;
    row-gap: 48px;
  }
}
@media screen and (max-width: 425px) {
  .block-two {
    padding-top: 24px;
    text-align: center;
    padding-bottom: 48px;
  }
}
.block-two .text {
  display: flex;
  flex-direction: column;
  width: 291px;
  row-gap: 32px;
}
@media screen and (max-width: 768px) {
  .block-two .text {
    width: 344px;
    row-gap: 24px;
  }
}
@media screen and (max-width: 425px) {
  .block-two .text {
    width: 352px;
  }
}
.block-two .text__header {
  font-size: 32px;
  height: 114px;
}
@media screen and (max-width: 768px) {
  .block-two .text__header {
    font-size: 24px;
    height: 56px;
  }
}
.block-two .text__info {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .block-two .text__info {
    font-size: 18px;
  }
}

.block-even_reverse {
  flex-direction: row-reverse;
}

.block-even {
  display: flex;
  padding-top: 137px;
  font-size: 28px;
  letter-spacing: 5.6px;
  font-weight: 300;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .block-even {
    padding-top: 86px;
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}
@media screen and (max-width: 440px) {
  .block-even {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 16px;
  }
}
.block-even__text {
  color: #000000;
}
.block-even .line {
  height: 1px;
  background-color: #000000;
  width: 657px;
  align-self: center;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .block-even .line {
    position: absolute;
    width: 323px;
    left: 0;
  }
}
@media screen and (max-width: 440px) {
  .block-even .line {
    position: static;
    width: 172px;
  }
}

.logos {
  display: flex;
  justify-content: space-between;
  padding-top: 68px;
  padding-bottom: 128px;
  flex-wrap: wrap;
}
@media screen and (max-width: 1140px) {
  .logos .CDEK, .logos .bitrix {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .logos {
    padding-bottom: 81px;
    padding-top: 48px;
  }
}
@media screen and (max-width: 425px) {
  .logos {
    padding-top: 24px;
  }
  .logos .CDEK, .logos .bitrix {
    display: block;
  }
}

.spacecraft-positioning {
  position: relative;
}
.spacecraft-positioning__el {
  position: absolute;
  top: 384px;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .block2 .line {
    width: 578px;
  }
}
@media screen and (max-width: 440px) {
  .block2 .line {
    width: 172px;
  }
}
.block2 .info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 52px;
  padding-bottom: 128px;
}
@media screen and (max-width: 768px) {
  .block2 .info {
    padding-top: 48px;
    padding-bottom: 64px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 425px) {
  .block2 .info {
    padding-bottom: 48px;
    padding-top: 24px;
    row-gap: 24px;
  }
}
.block2 .info-block {
  width: 291px;
  text-align: center;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .block2 .info-block {
    font-size: 24px;
    width: 161px;
  }
}
@media screen and (max-width: 768px) {
  .block2 .info-block {
    width: 172px;
  }
}
.block2 .info-block__num-el {
  font-weight: 400;
  font-size: 104px;
  padding-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .block2 .info-block__num-el {
    font-size: 72px;
  }
}

.form {
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(5px);
  padding-bottom: 128px;
  font-size: 20px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  display: flex;
}
@media screen and (max-width: 778px) {
  .form {
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 440px) {
  .form {
    padding-bottom: 48px;
  }
  .form .line {
    width: 172px;
  }
  .form .block-even {
    row-gap: 48px;
  }
}
.form .line_w-c {
  height: 1px;
  background-color: #FFFFFF;
  width: 848px;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .form .line_w-c {
    position: absolute;
    left: 0;
    align-self: center;
    width: 472px;
  }
}
@media screen and (max-width: 426px) {
  .form .line_w-c {
    width: 172px;
    position: static;
  }
}
.form-block {
  padding-top: 68px;
  display: flex;
  column-gap: 12px;
}
@media screen and (max-width: 778px) {
  .form-block {
    padding-top: 48px;
    column-gap: 20px;
  }
}
@media screen and (max-width: 440px) {
  .form-block {
    padding-top: 0;
    flex-direction: column;
    row-gap: 12px;
  }
}
.form .form__el {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 32px;
}
@media screen and (max-width: 778px) {
  .form .form__el {
    width: 100%;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 430px) {
  .form .form__el {
    padding-bottom: 12px;
  }
}
.form .form__el .form__label-el {
  padding: 16px 0 0 16px;
}
.form .form__el .form__input {
  border: none;
  background-color: transparent;
  border-bottom: 4px solid hsl(0, 0%, 100%);
  height: 41px;
  color: #FFFFFF;
}
.form .form_positioning {
  flex-direction: row;
  width: auto;
  column-gap: 16px;
}
@media screen and (max-width: 770px) {
  .form .form_positioning {
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 440px) {
  .form .form_positioning {
    font-size: 18px;
  }
}
.form .submit {
  width: 594px;
  height: 48px;
  background-color: hsl(260, 40%, 53%);
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  border: none;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 778px) {
  .form .submit {
    width: 100%;
  }
}

.line-reviews {
  height: 1px;
  background-color: #ffffff;
  width: 1008px;
  align-self: center;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .line-reviews {
    width: 598px;
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 425px) {
  .line-reviews {
    position: static;
    width: 172px;
  }
}

.grid-container {
  margin-top: 68px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "column-one column-two column-three column-four" "column-one column-five column-five column-five";
  column-gap: 12px;
  row-gap: 12px;
}
@media screen and (max-width: 1024px) {
  .grid-container {
    margin-top: 48px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 331px 331px 193px 457px;
    grid-template-areas: "column-one column-one" "column-two column-three" "column-four column-four" "column-five column-five";
  }
}
@media screen and (max-width: 425px) {
  .grid-container {
    margin-top: 24px;
    grid-template-columns: 1fr;
    grid-template-rows: 562px;
    grid-template-areas: "column-one";
  }
}
.grid-container .column-one {
  grid-area: column-one;
}
.grid-container .column-two {
  grid-area: column-two;
}
@media screen and (max-width: 425px) {
  .grid-container .column-two {
    display: none;
  }
}
.grid-container .column-three {
  grid-area: column-three;
}
@media screen and (max-width: 425px) {
  .grid-container .column-three {
    display: none;
  }
}
.grid-container .column-four {
  grid-area: column-four;
}
@media screen and (max-width: 425px) {
  .grid-container .column-four {
    display: none;
  }
}
.grid-container .column-five {
  grid-area: column-five;
}
@media screen and (max-width: 425px) {
  .grid-container .column-five {
    display: none;
  }
}
.grid-container .column {
  font-size: 20px;
  background-color: hsla(0, 10%, 65%, 0.25);
  backdrop-filter: blur(20px);
  padding: 24px 12px 0 12px;
}
@media screen and (max-width: 1024px) {
  .grid-container .column {
    font-size: 18px;
  }
}
.grid-container .column .column__header {
  font-size: 32px;
}
@media screen and (max-width: 1024px) {
  .grid-container .column .column__header {
    font-size: 24px;
  }
}
.grid-container .column .column__author {
  padding-top: 12px;
  padding-bottom: 32px;
  font-weight: 400;
}
.grid-container .column:nth-child(2) {
  background-color: hsl(260, 40%, 53%);
  text-align: center;
}
.grid-container .column:nth-child(2) .column__header {
  text-align: start;
  padding-bottom: 23px;
}
.grid-container .column:nth-child(2) .document {
  margin-bottom: 26px;
}
.grid-container .column:nth-child(4) .column__header {
  padding-bottom: 29px;
}

.line-portfolio {
  height: 1px;
  background-color: #000000;
  width: 937px;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .line-portfolio {
    width: 542px;
    position: absolute;
    align-self: center;
    left: 0;
  }
}
@media screen and (max-width: 500px) {
  .line-portfolio {
    width: 172px;
    position: static;
    margin-top: 26px;
  }
}

.example {
  color: #000000;
  display: flex;
  flex-direction: column;
  margin-top: 34px;
  position: relative;
}
@media screen and (max-width: 1180px) {
  .example {
    margin-top: 48px;
    padding-bottom: 64px;
    text-align: start;
  }
}
@media screen and (max-width: 426px) {
  .example {
    margin-top: 24px;
    text-align: center;
    padding-bottom: 48px;
  }
}
.example-info {
  display: flex;
}
@media screen and (max-width: 1180px) {
  .example-info {
    flex-direction: column;
    row-gap: 24px;
  }
}
.example-info__header {
  font-size: 30px;
  position: relative;
  top: 69px;
}
@media screen and (max-width: 1180px) {
  .example-info__header {
    font-size: 28px;
    top: 0;
  }
}
@media screen and (max-width: 768px) {
  .example-info__header {
    font-size: 24px;
  }
}
@media screen and (max-width: 425px) {
  .example-info__header {
    font-size: 24px;
  }
}
.example .wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-size: 20px;
  position: absolute;
  top: 171px;
  width: 392px;
}
.example .wrapper .thin {
  font-weight: 300;
}
@media screen and (max-width: 1180px) {
  .example .wrapper {
    font-size: 18px;
    position: static;
    width: fit-content;
  }
}
@media screen and (max-width: 426px) {
  .example .wrapper {
    row-gap: 24px;
  }
}

.block3 .line__footer {
  height: 1px;
  background-color: white;
  width: 868px;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .block3 .line__footer {
    max-width: 456px;
  }
}
@media screen and (max-width: 426px) {
  .block3 .line__footer {
    max-width: 172px;
  }
}
.block3__map {
  margin-top: 36px;
  width: 100%;
  padding-bottom: 349px;
}
@media screen and (max-width: 768px) {
  .block3__map {
    margin-top: 48px;
    padding-bottom: 192px;
  }
}

.footer {
  background-color: hsla(236, 5%, 8%, 0.95);
  height: 100%;
  position: relative;
  z-index: 0;
}
.footer .bg-color {
  background-color: hsla(210, 5%, 8%, 0.911);
  z-index: 1;
  padding: 16px 0 32px 0;
  width: 100%;
  height: 100%;
  max-height: 192px;
  height: 100%;
}
@media screen and (max-width: 426px) {
  .footer .bg-color {
    max-height: 251px;
  }
}
.footer .footer__astronaut {
  position: absolute;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .footer .footer__astronaut {
    bottom: 96px;
  }
}
@media screen and (max-width: 426px) {
  .footer .footer__astronaut {
    bottom: 125px;
  }
}
.footer .container_grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "footer__logo policy tel" "year year year";
  align-items: start;
  font-size: 12px;
  row-gap: 62px;
}
@media screen and (max-width: 768px) {
  .footer .container_grid {
    font-size: 20px;
    align-items: end;
  }
}
@media screen and (max-width: 426px) {
  .footer .container_grid {
    grid-template-areas: "policy policy policy" "tel tel tel" "footer__logo footer__logo footer__logo" "year year year";
    row-gap: 24px;
    text-align: center;
  }
}
.footer .container_grid .footer__logo {
  grid-area: footer__logo;
}
@media screen and (max-width: 426px) {
  .footer .container_grid .footer__logo {
    padding-left: 105px;
  }
}
.footer .container_grid .policy {
  text-align: center;
  grid-area: policy;
}
.footer .container_grid .tel {
  text-align: end;
  grid-area: tel;
}
@media screen and (max-width: 426px) {
  .footer .container_grid .tel {
    text-align: center;
  }
}
.footer .container_grid .year {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  grid-area: year;
  padding-left: 58px;
}
@media screen and (max-width: 426px) {
  .footer .container_grid .year {
    padding-left: 0;
  }
}

/*# sourceMappingURL=index.css.map */
