/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto.ttf");
}
html {
  font-size: 4px;
}

body {
  font-family: "Roboto";
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}

.main-bg {
  background-image: url("../assets/imgs/main-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-bg2 {
  background-image: url("../assets/imgs/main-bg2.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .main-bg {
    background-image: url("../assets/imgs/tabletBackground.png");
  }
  .main-bg2 {
    background-image: url("../assets/imgs/tabletBackground2.png");
  }
}
@media screen and (max-width: 384px) {
  .main-bg {
    background-image: url("../assets/imgs/mobileBackground.png");
  }
  .main-bg2 {
    background-image: url("../assets/imgs/mobileBackground2.png");
  }
}
.header {
  background-color: hsla(236, 5%, 8%, 0.5);
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 768px;
    background-color: transparent;
  }
}
.header .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header .container {
    max-width: 704px;
  }
}
@media screen and (max-width: 384px) {
  .header .container {
    max-width: 350px;
  }
}
.header .container .nav {
  display: flex;
  column-gap: 12px;
  font-size: 3rem;
  font-weight: 500;
}
.header .container .nav__element {
  transition: 0.5s;
}
.header .container .nav__element:hover {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .header .container .nav {
    display: none;
  }
}
.header .container .tel-number {
  font-family: "Roboto";
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .header .container .tel-number {
    display: none;
  }
}
.header .container .menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .header .container .menu {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.main .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .main .container {
    width: 100%;
    max-width: 704px;
  }
}
@media screen and (max-width: 384px) {
  .main .container {
    width: 100%;
    max-width: 350px;
  }
}
.main .container .preview {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main .container .preview {
    margin-top: 48px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 384px) {
  .main .container .preview {
    justify-content: flex-start;
  }
}
.main .container .preview .decor-line {
  width: 317px;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  align-self: flex-start;
  top: 250px;
}
@media screen and (max-width: 768px) {
  .main .container .preview .decor-line {
    width: 59px;
    position: absolute;
    left: 0;
    top: 353px;
  }
}
.main .container .preview .austronaut {
  margin-right: -32px;
}
@media screen and (max-width: 768px) {
  .main .container .preview .austronaut {
    width: 483.77px;
    height: 481.1px;
  }
}
@media screen and (max-width: 384px) {
  .main .container .preview .austronaut {
    width: 261.13px;
    height: 266.77px;
  }
}
.main .container .preview .company-info {
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 11.91px;
}
@media screen and (max-width: 768px) {
  .main .container .preview .company-info {
    row-gap: 9.61px;
  }
}
@media screen and (max-width: 384px) {
  .main .container .preview .company-info {
    row-gap: 5.18px;
  }
}
.main .container .preview .company-info__type {
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 5.6px;
  align-self: center;
  margin-right: -30px;
}
@media screen and (max-width: 768px) {
  .main .container .preview .company-info__type {
    font-size: 5.3875rem;
    letter-spacing: 4.31px;
    margin: 0;
  }
}
@media screen and (max-width: 384px) {
  .main .container .preview .company-info__type {
    font-size: 11.63px;
    letter-spacing: 2, 326px;
  }
}
.main .container .preview .company-info__name {
  font-size: 26rem;
  font-weight: 400;
  letter-spacing: 26px;
  margin-right: -25px;
}
@media screen and (max-width: 768px) {
  .main .container .preview .company-info__name {
    font-size: 20rem;
    letter-spacing: 20.015px;
    margin: 0;
  }
}
@media screen and (max-width: 384px) {
  .main .container .preview .company-info__name {
    font-size: 43.21px;
    letter-spacing: 10.8025px;
  }
}
.main .container .down-sign {
  font-weight: 500;
  font-size: 7.5rem;
  position: relative;
  bottom: 91px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
@media screen and (max-width: 768px) {
  .main .container .down-sign {
    font-size: 24px;
    align-self: flex-end;
    position: relative;
    bottom: 75px;
  }
}
@media screen and (max-width: 384px) {
  .main .container .down-sign {
    padding-top: 100px;
    bottom: 48px;
  }
}
.main .container .date {
  align-self: flex-end;
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .main .container .date {
    align-self: center;
    margin-bottom: 24px;
  }
}
.main .bg-color {
  background-color: hsla(0, 10%, 65%, 0.25);
  backdrop-filter: blur(5px);
  z-index: 1;
  overflow: hidden;
}
.main .bg-color .container {
  row-gap: 68px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container {
    width: 100%;
    max-width: 704px;
  }
}
@media screen and (max-width: 384px) {
  .main .bg-color .container {
    width: 100%;
    max-width: 350px;
  }
}
.main .bg-color .container .container_flex-dir_row {
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  column-gap: 48px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row {
    margin-top: 86px;
  }
}
.main .bg-color .container .container_flex-dir_row .left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 384px) {
  .main .bg-color .container .container_flex-dir_row .left-block {
    position: absolute;
  }
}
.main .bg-color .container .container_flex-dir_row .left-block__logo {
  width: 291px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .left-block__logo {
    width: 157px;
  }
}
@media screen and (max-width: 384px) {
  .main .bg-color .container .container_flex-dir_row .left-block__logo {
    display: none;
  }
}
.main .bg-color .container .container_flex-dir_row .left-block .spacecraft {
  width: 291px;
  position: absolute;
  left: 86px;
  top: 213.51px;
  z-index: -1;
  filter: blur(5px);
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .left-block .spacecraft {
    position: static;
    width: 167.07px;
  }
}
@media screen and (max-width: 384px) {
  .main .bg-color .container .container_flex-dir_row .left-block .spacecraft {
    position: absolute;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  row-gap: 32px;
}
.main .bg-color .container .container_flex-dir_row .right-block .wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 44px;
  align-items: center;
  padding-top: 17px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .wrapper {
    padding-top: 5px;
    column-gap: 24px;
    width: 523px;
  }
}
@media screen and (max-width: 384px) {
  .main .bg-color .container .container_flex-dir_row .right-block .wrapper {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 32px;
    align-items: center;
    width: 351px;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block .wrapper__studio {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 9.6px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .wrapper__studio {
    font-weight: 300;
    font-size: 32px;
    letter-spacing: 6.4px;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block .wrapper__line {
  width: 223px;
  height: 1px;
  background-color: white;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .wrapper__line {
    width: 160px;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block .info-text {
  display: flex;
  flex-direction: column;
  width: 594px;
  align-self: flex-end;
  row-gap: 32px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .info-text {
    width: 519px;
  }
}
@media screen and (max-width: 384px) {
  .main .bg-color .container .container_flex-dir_row .right-block .info-text {
    align-self: center;
    text-align: center;
    width: 352px;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block .info-text__one {
  font-weight: 500;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .info-text__one {
    font-size: 24px;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block .info-text__two {
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .info-text__two {
    font-size: 18px;
  }
}
.main .bg-color .container .container_flex-dir_row .right-block .info-text__three {
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .container_flex-dir_row .right-block .info-text__three {
    font-size: 18px;
    padding-bottom: 64px;
  }
}
.main .bg-color .container .year {
  font-weight: 600;
  font-size: 20px;
  text-align: end;
  padding-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .main .bg-color .container .year {
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 384px) {
  .main .bg-color .container .year {
    display: none;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 704px;
  }
}
@media screen and (max-width: 384px) {
  .container {
    width: 100%;
    max-width: 350px;
  }
}
.container .block-one {
  padding-top: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  padding-bottom: 68px;
}
@media screen and (max-width: 768px) {
  .container .block-one {
    padding-top: 86px;
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 384px) {
  .container .block-one {
    display: flex;
    flex-direction: column;
    row-gap: 43px;
  }
}
.container .block-one__advantages {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 5.6px;
}
@media screen and (max-width: 768px) {
  .container .block-one__advantages {
    font-size: 22px;
    letter-spacing: 4.4px;
  }
}
.container .block-one .line {
  height: 1px;
  width: 745px;
  background-color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 768px) {
  .container .block-one .line {
    width: 392px;
    position: relative;
    right: -32px;
    justify-self: flex-end;
  }
}
@media screen and (max-width: 384px) {
  .container .block-one .line {
    position: static;
    align-self: center;
    width: 172px;
  }
}
.container .block-two {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 12px;
  padding-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .container .block-two {
    row-gap: 24px;
  }
}
.container .block-two .text {
  display: flex;
  flex-direction: column;
  width: 291px;
  min-width: 291px;
  row-gap: 32px;
}
@media screen and (max-width: 768px) {
  .container .block-two .text {
    width: 342px;
  }
}
@media screen and (max-width: 384px) {
  .container .block-two .text {
    text-align: center;
  }
}
.container .block-two .text__header {
  font-weight: 500;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .container .block-two .text__header {
    font-size: 24px;
  }
}
.container .block-two .text__info {
  font-weight: 500;
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .container .block-two .text__info {
    font-size: 18px;
  }
}
.container .block-two .text_positioning {
  justify-content: space-between;
}
@media screen and (max-width: 384px) {
  .container .block-two .text_positioning {
    text-align: center;
  }
}

@media screen and (max-width: 384px) {
  .container {
    width: 100%;
    max-width: 350px;
  }
}
.container .block-one_position-color {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 137px;
  justify-content: space-between;
  padding-bottom: 68px;
}
@media screen and (max-width: 768px) {
  .container .block-one_position-color {
    width: 100%;
    max-width: 704px;
    padding-top: 86px;
  }
  .container .block-one_position-color .block-one__advantages {
    font-size: 22px;
    letter-spacing: 4.4px;
    width: 430px;
  }
}
@media screen and (max-width: 768px) and (max-width: 384px) {
  .container .block-one_position-color .block-one__advantages {
    width: 206px;
    text-align: center;
  }
}
@media screen and (max-width: 384px) {
  .container .block-one_position-color {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
  }
}
.container .block-one_position-color .line_width-color {
  width: 657px;
  background-color: hsl(0, 0%, 0%);
}
@media screen and (max-width: 768px) {
  .container .block-one_position-color .line_width-color {
    width: 323px;
    position: relative;
    left: -32px;
  }
}
@media screen and (max-width: 384px) {
  .container .block-one_position-color .line_width-color {
    width: 172px;
    position: static;
  }
}
.container .logos {
  display: flex;
  padding-bottom: 128px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .container .logos {
    justify-content: space-between;
    padding-bottom: 81px;
  }
  .container .logos .logos_five, .container .logos .logos_six {
    display: none;
  }
  .container .logos .logos_one, .container .logos .logos_two, .container .logos .logos_three, .container .logos .logos_four {
    width: 150px;
  }
}
@media screen and (max-width: 384px) {
  .container .logos {
    justify-content: center;
    column-gap: 10px;
  }
  .container .logos .logos_five, .container .logos .logos_six {
    display: block;
    width: 150px;
  }
}

@media screen and (max-width: 768px) {
  .main-bg2 .container {
    width: 100%;
    max-width: 704px;
  }
}
@media screen and (max-width: 384px) {
  .main-bg2 .container {
    width: 100%;
    max-width: 350px;
  }
}
.main-bg2 .container .block-one {
  padding-bottom: 52px;
}
@media screen and (max-width: 384px) {
  .main-bg2 .container .block-one {
    display: flex;
    flex-direction: column;
    row-gap: 42px;
  }
  .main-bg2 .container .block-one__advantages {
    text-align: center;
  }
  .main-bg2 .container .block-one .line {
    width: 172px;
    position: static;
    align-self: center;
  }
}
.main-bg2 .container .info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main-bg2 .container .info .info-block {
  width: 291px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  padding-bottom: 128px;
}
@media screen and (max-width: 768px) {
  .main-bg2 .container .info .info-block {
    width: 161px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 388px) {
  .main-bg2 .container .info .info-block {
    width: 172px;
  }
}
.main-bg2 .container .info .info-block__num-el {
  font-weight: 400;
  font-size: 104px;
  align-self: center;
}
@media screen and (max-width: 768px) {
  .main-bg2 .container .info .info-block__num-el {
    font-size: 72px;
  }
}
.main-bg2 .container .info .info-block__text-el {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-bg2 .container .info .info-block__text-el {
    font-size: 24px;
  }
}

.image-wrapper {
  position: absolute;
  right: 0;
  top: 384px;
  z-index: -1;
}

.bg-color {
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(5px);
}
.bg-color .container .block-one_position-color {
  color: hsl(0, 0%, 100%);
}
.bg-color .container .line_width-color {
  width: 848px;
  background-color: hsl(0, 0%, 100%);
}

/*# sourceMappingURL=index.css.map */
