/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto.ttf");
}
html {
  font-size: 4px;
}

body {
  font-family: "Roboto";
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}

.main-bg {
  background-image: url("../assets/imgs/background (3).png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: hsla(236, 5%, 8%, 0.5);
}
.header .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.header .container .nav {
  display: flex;
  column-gap: 12px;
  font-size: 3rem;
  font-weight: 500;
}
.header .container .tel-number {
  font-family: "Roboto";
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.main .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.main .container .preview {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .container .preview .decor-line {
  width: 317px;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  align-self: flex-start;
  top: 250px;
}
.main .container .preview .austronaut {
  margin-right: -32px;
}
.main .container .preview .company-info {
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 11.91px;
}
.main .container .preview .company-info__type {
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 5.6px;
  align-self: center;
  margin-right: -30px;
}
.main .container .preview .company-info__name {
  font-size: 26rem;
  font-weight: 400;
  letter-spacing: 26px;
  margin-right: -25px;
}
.main .container .down-sign {
  font-weight: 500;
  font-size: 7.5rem;
  position: relative;
  bottom: 91px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.main .container .date {
  align-self: flex-end;
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 32px;
}
.main .bg-color {
  background-color: hsla(0, 10%, 65%, 0.25);
  backdrop-filter: blur(20px);
}
.main .bg-color .container .upper-block {
  margin-top: 111px;
  display: flex;
  align-items: center;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.main .bg-color .container .upper-block__logo {
  width: 291px;
  height: 90px;
  align-self: flex-end;
  padding-right: 48px;
}
.main .bg-color .container .upper-block__line {
  background-color: hsl(0, 0%, 100%);
  width: 223px;
  height: 1px;
}
.main .bg-color .container .upper-block__studio {
  font-weight: 300;
  font-size: 12rem;
  letter-spacing: 9.6px;
  padding-left: 44px;
}
.main .bg-color .bottom-block {
  display: flex;
  justify-content: space-between;
}
.main .bg-color .bottom-block__spacecraft {
  width: 301px;
  align-self: flex-end;
  filter: blur(8px);
}
.main .bg-color .bottom-block .info-text {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 594px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.main .bg-color .bottom-block .info-text__one {
  font-weight: 500;
  font-size: 30px;
}
.main .bg-color .bottom-block .info-text__two {
  font-weight: 500;
  font-size: 20px;
}
.main .bg-color .bottom-block .info-text__three {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 68px;
}
.main .bg-color .year {
  text-align: end;
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 32px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}
.container .block-one {
  padding-top: 128px;
  padding-bottom: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.container .block-one__advantages {
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 5.6px;
}
.container .block-one__line {
  height: 1px;
  width: 745px;
  background-color: hsl(0, 0%, 100%);
}
.container .block-two {
  display: flex;
  font-weight: 500;
  font-size: 32px;
  column-gap: 12px;
  padding-bottom: 32px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.container .block-two__text-one {
  width: 291px;
}
.container .block-two__text-two {
  width: 291px;
}
.container .block-two__text-three {
  width: 291px;
}
.container .block-two__text-four {
  width: 291px;
}
.container .block-three {
  display: flex;
  padding-bottom: 64px;
  font-weight: 500;
  font-size: 20px;
  column-gap: 12px;
  justify-content: center;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.container .block-three__text-one {
  width: 291px;
}
.container .block-three__text-two {
  width: 291px;
}
.container .block-three__text-three {
  width: 291px;
}
.container .block-three__text-four {
  width: 291px;
}

/*# sourceMappingURL=index.css.map */
