@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin line($color:#FFFFFF, $width){
    height: 1px;
    background-color: $color;
    width: $width;
    align-self: center;
}