@use 'mixin' as mixin;

.about {
    background-color: hsla(0, 10%, 65%, 0.25);
    backdrop-filter: blur(20px);
    font-size: 20px;
    padding: 111px 0 32px 0;
    &__header {
        display: flex;
        align-items: center;
        gap: 44px;
        &-line {
            @include mixin.line(#ffffff, 223px);
        }
        &-title{
            font-size: 48px;
            letter-spacing: 9.6px;
            font-weight: 300;
            margin-left: -4px;
        }
    }
    &__inner {
        max-width: 594px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        row-gap: 32px; 
        .about__inner-item:first-of-type {
            font-size: 30px;
        } 
    }
    &__year {
        text-align: end;
        padding-top: 68px;
        font-weight: 600;
    }
}




.image-wrapper {
    position: relative;
    .spacecraft {
        position: absolute;
        top: 190px;
        left: 45px;
        filter: blur(5px);
    }
}
