@use 'mixin' as mixin;

.form {
    background-color: hsla(0, 0%, 0%, 0.5);
    padding-bottom: 128px;
    font-size: 20px;
    text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
    display: flex;
    .line_w-c {
        @include mixin.line(#FFFFFF, 848px)
    }
    &-block {
        padding-top: 68px;
        display: flex;
        column-gap: 12px;
    }
    .form__el {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-bottom: 32px;
        .form__label-el {
            padding: 16px 0 0 16px;
        }
        .form__input {
            border: none;
            background-color: transparent;
            border-bottom: 4px solid hsla(0, 0%, 100%, 1);
            height: 41px;
            color: #FFFFFF;
        }
    }
    .form_positioning {
        flex-direction: row;
        width: auto;
        column-gap: 16px;
    }
    .submit {
        width: 594px;
        height: 48px;
        background-color: hsla(260, 40%, 53%, 1);
        font-size: 20px;
        color: hsla(0, 0%, 100%, 1);
        border: none;
        display: block;
        margin: 0 auto;
    }
}











