@use 'mixin' as mixin;

.block-even_reverse {
    flex-direction: row-reverse;
}
.block-even {
    display: flex;
    padding-top: 137px;
    font-size: 28px;
    letter-spacing: 5.6px;
    font-weight: 300;
    justify-content: space-between;
    &__text{
        color: #000000;
    }
    .line {
        @include mixin.line(#000000, 657px);
        align-self: center;
    }
}

.logos {
    display: flex;
    justify-content: space-between;
    padding-top: 68px;
    padding-bottom: 128px;
}
