@use 'mixin' as mixin;

.block3 {
    .line__footer {
        @include mixin.line(white, 868px);
        @media screen and (max-width: 768px) {
            max-width: 456px;
        }
        @media screen and (max-width: 426px) {
            max-width: 172px;
        }
    }
    &__map {
        margin-top: 36px;
        width: 100%;
        margin-bottom: 349px;
        max-width: 1200px; 
        height: 659px;
        z-index: -10;
        @media screen and (max-width: 768px) {
            margin-top: 48px;
            margin-bottom: 192px;
            max-width: 704px; 
            height: 386px;
        }
         @media screen and (max-width: 715px) {
            max-width: 650px; 
        }
         @media screen and (max-width: 425px) {
            max-width: 352px;
            max-height: 386px;
        }
    }
}
