@use 'mixin' as mixin;

.line-portfolio {
    @include mixin.line(#000000, 937px)
}

.example {
    color: #000000;
    display: flex;
    margin-top: 34px;
    &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 32px;
        &__header{
            font-size: 30px;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            font-size: 20px;
            .thin {
                font-weight: 300;
            }
        }
    }
}