@use 'mixin' as mixin;
.line-reviews {
    @include mixin.line(#ffffff, 1008px);
    align-self: center;
    @media screen and (max-width: 1024px){
        width: 598px;
        position: absolute;
        right: 0;
    }
    @media screen and (max-width: 425px){
        position: static;
        width: 172px;
    }
}
.grid-container {
    margin-top: 68px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "column-one column-two column-three column-four"
                         "column-one column-five column-five column-five";
    column-gap: 12px;
    row-gap: 12px;
    @media screen and (max-width:1024px){
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 331px 331px 193px 457px;
        grid-template-areas: "column-one column-one"
                             "column-two column-three"
                             "column-four column-four"
                             "column-five column-five"
    }
    @media screen and (max-width:425px) {
        grid-template-columns: 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "column-one";
    }
    .column-one {
        grid-area: column-one;
    }
    .column-two {
        grid-area: column-two;
        @media screen and (max-width:425px) {
            display: none;
        }
    }
    .column-three {
        grid-area: column-three;
        @media screen and (max-width:425px) {
            display: none;
        }
    }
    .column-four {
        grid-area: column-four;
        @media screen and (max-width:425px) {
            display: none;
        }
    }
    .column-five {
        grid-area: column-five;
        @media screen and (max-width:425px) {
            display: none;
        }
    }
    .column {
        font-size: 20px;
        background-color: hsla(0, 10%, 65%, 0.25);
        backdrop-filter: blur(20px);
        padding: 24px 12px 0 12px;
        @media screen and (max-width:1024px) {
            font-size: 18px;
        }

        .column__header {
            font-size: 32px;
            @media screen and (max-width:1024px){
                font-size: 24px;
            }
        }
        .column__author {
            padding-top: 12px;
            padding-bottom: 32px;
            font-weight: 400;
        }
    }
    .column:nth-child(2){
        background-color: hsla(260, 40%, 53%, 1);
        text-align: center;
        .column__header {
          text-align: start;
          padding-bottom: 23px;
        }
        .document {
            margin-bottom: 26px;
        }
    }
    .column:nth-child(4) {
        .column__header {
            padding-bottom: 29px;
        }
    }
}