.block2 {
    .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 52px;
        padding-bottom: 128px;
        &-block {
            width: 291px;
            text-align: center;
            font-size: 32px;
            &__num-el{
                font-weight: 400;
                font-size: 104px;
                padding-bottom: 32px;
            }
        }
    }  
}

