@use 'variables' as vars;

.main{
    .container {
        margin: 0 auto;
        width: 100%;
        max-width: vars.$content-width;
        display: flex;
        flex-direction: column;
        @media screen and (max-width:768px){
            width: 100%;
            max-width: 704px;
        }
        @media screen and (max-width: 384px){
            width: 100%;
            max-width: 350px;
        }
        .preview {
            margin-top: 80px;
            display: flex;
            flex-direction: row;
            align-items: center;
            @media screen and (max-width:768px){
                margin-top: 48px;
                justify-content: space-between;
            }
            @media screen and (max-width: 384px){
                justify-content: flex-start;
            }
            
            .decor-line {
                width: 317px;
                height: 1px;
                background-color: hsla(0, 0%, 100%, 1);
                position: relative;
                align-self: flex-start;
                top: 250px;
                @media screen and (max-width:768px){
                    width: 59px;
                    position: absolute;
                    left: 0;
                    top: 353px;
                }
                
            }
            .austronaut {
                margin-right: -32px;
                @media screen and (max-width:768px){
                    width: 483.77px;
                    height: 481.1px;   
                }
                @media screen and (max-width: 384px){
                    width: 261.13px;
                    height: 266.77px;
                }
            }
            .company-info {
                text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
                display: flex;
                flex-direction: column;
                row-gap: 11.91px;
                @media screen and (max-width:768px){
                    row-gap: 9.61px;
                }
                @media screen and (max-width: 384px){
                    row-gap: 5.18px;
                }

                &__type {
                    font-size: 7rem;
                    font-weight: 300;
                    letter-spacing: 5.6px;
                    align-self: center;
                    margin-right: -30px;
                   @media screen and (max-width:768px){
                        font-size: 5.3875rem;
                        letter-spacing: 4.31px;
                        margin: 0;
                    }
                    @media screen and (max-width: 384px){
                        font-size: 11.63px;
                        letter-spacing: 2,326px
                    }
                }
                &__name{
                    font-size: 26rem;
                    font-weight: 400;
                    letter-spacing: 26px;
                    margin-right: -25px;
                    @media screen and (max-width:768px){
                        font-size: 20rem;
                        letter-spacing: 20.015px;
                        margin: 0;
                    }
                    @media screen and (max-width: 384px){
                        font-size: 43.21px;
                        letter-spacing: 10.8025px;
                    }     
                }          
            }
        }
        .down-sign {
            font-weight: 500;
            font-size: 7.5rem;
            position: relative;
            bottom: 91px;
            text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
            @media screen and (max-width:768px){
                font-size: 24px;
                align-self: flex-end;
                position: relative;
                bottom: 75px;
            }
            @media screen and (max-width: 384px){
                padding-top: 100px;
                bottom: 48px;
            }  

        }
        .date {
            align-self: flex-end;
            font-weight: 600;
            font-size: 5rem;
            margin-bottom: 32px;
            
            @media screen and (max-width:768px){
                align-self: center;
                margin-bottom: 24px;
            }
        }
    }
    .bg-color {
        background-color: hsla(0, 10%, 65%, 0.25);
        backdrop-filter: blur(5px);
        z-index: 1;
        overflow: hidden;
        .container{
            row-gap: 68px;
            @media screen and (max-width:768px){
                width: 100%;
                max-width: 704px;
            }
            @media screen and (max-width: 384px){
                width: 100%;
                max-width: 350px;
            }
            .container_flex-dir_row{
                margin-top: 110px;
                display: flex;
                flex-direction: row;
                column-gap: 48px;
                @media screen and (max-width:768px){
                    margin-top: 86px;
                }
                // .logo{
                //      width: 291px;
                //      height: 90px;
                //      align-self: flex-start;
                // }
                .left-block{
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     position: relative;
                     @media screen and (max-width: 384px){
                        position: absolute;
                    }
                     &__logo{
                        width: 291px;
                        @media screen and (max-width:768px){
                            width: 157px;
                        }
                        @media screen and (max-width: 384px){
                            display: none;
                        }
                     }
                     .spacecraft{
                        width: 291px;
                        position: absolute;
                        left: 86px;
                        top: 213.51px;
                        z-index: -1;
                        filter: blur(5px);
                        @media screen and (max-width:768px){
                            position: static;
                            width: 167.07px;
                            
                        }
                        @media screen and (max-width: 384px){
                            position: absolute;
                        }
                     }
                 }
                .right-block{
                    .wrapper{
                        display: flex;
                        flex-direction: row;
                        column-gap: 44px;
                        align-items: center;
                        padding-top: 17px;
                        
                        @media screen and (max-width:768px){
                            padding-top: 5px;
                            column-gap: 24px;
                            width: 523px;
                        }
                        @media screen and (max-width: 384px){
                            display: flex;
                            flex-direction: column-reverse;
                            row-gap: 32px;
                            align-items: center;
                            width: 351px;
                        }
                        &__studio {
                            font-weight: 300;
                            font-size: 48px;
                            letter-spacing: 9.6px;
                            @media screen and (max-width:768px){
                                font-weight: 300;
                                font-size: 32px;
                                letter-spacing: 6.4px;
                            }
                        }
                        &__line{
                            width: 223px;
                            height: 1px;
                            background-color: white;
                            @media screen and (max-width:768px){
                                width: 160px;
                            }
                        }
                    }
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex: 1;
                    row-gap: 32px;
                    .info-text{
                        display: flex;
                        flex-direction: column;
                        width: 594px;
                        align-self: flex-end;
                        row-gap: 32px;
                        @media screen and (max-width:768px){
                            width: 519px;       
                        }
                        @media screen and (max-width: 384px){
                            align-self: center;
                            text-align: center;
                            width: 352px;
                        }
                        &__one{
                            font-weight: 500;
                            font-size: 30px;
                            @media screen and (max-width:768px){
                                font-size: 24px;       
                            }
                        }
                        &__two{
                            font-weight: 500;
                            font-size: 20px;
                            @media screen and (max-width:768px){
                                font-size: 18px;         
                            }
                        }
                        &__three{
                            font-weight: 500;
                            font-size: 20px;
                            @media screen and (max-width:768px){
                                font-size: 18px; 
                                padding-bottom: 64px;   
                            }
                        }
                    }
                }
            }
            .year{
                font-weight: 600;
                font-size: 20px;
                text-align: end;
                padding-bottom: 32px;
                @media screen and (max-width:768px){
                    padding-bottom: 64px;
                }
                @media screen and (max-width: 384px){
                    display: none;
                }
            }
        }
    }
}



