.main-bg2{
    .container {
        @media screen and (max-width:768px){
            width: 100%;
            max-width: 704px;
        }
        @media screen and (max-width: 384px){
            width: 100%;
            max-width: 350px;
        }
        .block-one {
            padding-bottom: 52px;
            @media screen and (max-width: 384px){
                display: flex;
                flex-direction: column;
                row-gap: 42px;
                &__advantages{
                    text-align: center;
                }
                .line {
                    width: 172px;
                    position: static;
                    align-self: center;
                }
            }
        }
        
        .info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .info-block{
                width: 291px;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 32px;
                padding-bottom: 128px;
                @media screen and (max-width: 768px){
                    width: 161px;
                    padding-bottom: 64px;
                }
                @media screen and (max-width: 388px){
                    width: 172px;
                }
                &__num-el {
                    font-weight: 400;
                    font-size: 104px;
                    align-self: center;
                    @media screen and (max-width: 768px){
                        font-size: 72px;
                    }
                }
                &__text-el {
                    font-weight: 500;
                    font-size: 32px;
                    text-align: center;
                    @media screen and (max-width: 768px){
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

.image-wrapper{
    position: absolute;
    right: 0;
    top: 384px;
    z-index: -1;
}