/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  cursor: pointer;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto.ttf");
}
html {
  font-size: 4px;
}

body {
  font-family: "Roboto";
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}

.main-bg {
  background-image: url("../assets/imgs/background_height_2398px.png");
}

.header {
  background-color: hsla(236, 5%, 8%, 0.5);
  display: flex;
  justify-content: center;
}
.header .header-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.header .header-wrapper .nav {
  display: flex;
  column-gap: 12px;
  font-size: 3rem;
  font-weight: 500;
}
.header .header-wrapper .tel-number {
  font-family: "Roboto";
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
}

.main .section-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.main .section-wrapper .preview {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main .section-wrapper .preview .decor-line {
  width: 317px;
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  align-self: flex-start;
  top: 250px;
}
.main .section-wrapper .preview .austronaut {
  margin-right: -32px;
}
.main .section-wrapper .preview .company-info {
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
  display: flex;
  flex-direction: column;
  row-gap: 11.91px;
}
.main .section-wrapper .preview .company-info .company-type {
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 5.6px;
  align-self: center;
  margin-right: -30px;
}
.main .section-wrapper .preview .company-info__name {
  font-size: 26rem;
  font-weight: 400;
  letter-spacing: 26px;
  margin-right: -25px;
}
.main .section-wrapper .down-sign {
  font-weight: 500;
  font-size: 7.5rem;
  position: relative;
  bottom: 91px;
  text-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
}
.main .section-wrapper .date {
  align-self: flex-end;
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 32px;
}
.main .bg-color {
  background-color: hsla(0, 10%, 65%, 0.25);
  backdrop-filter: blur(20px);
}
.main .bg-color .section-wrapper .upper-block {
  margin-top: 111px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.main .bg-color .section-wrapper .upper-block .logo-resize {
  width: 291px;
  height: 90px;
}
.main .bg-color .section-wrapper .upper-block .line {
  background-color: hsl(0, 0%, 100%);
  width: 223px;
  height: 1px;
}
.main .bg-color .section-wrapper .upper-block .studio {
  font-weight: 300;
  font-size: 12rem;
  letter-spacing: 9, 6px;
}
.main .bg-color .bottom-block {
  display: flex;
}

/*# sourceMappingURL=index.css.map */
