@font-face {
    font-family: 'Roboto';
    src: url(../font/Roboto/Roboto-VariableFont_wdth\,wght.ttf) format(truetype);
}

.main-bg {
    background-image: url(../images/backgroundImage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    color: hsla(0, 0%, 100%, 1);
    font-family: Roboto;
}