.header {
    background: #13131580;
    padding: 12px;
    font-family: "Roboto";
    color: hsla(0, 0%, 100%, 1);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
}

.container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-wrapper__image-logo {
    width: 103.7241439819336px;
    height: 32px;
}

.navigation {
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.navigation__elements:hover{
    font-weight: 600;
    font-size: 20px;
}

.container-wrapper_tel-number{
    color: hsla(0, 0%, 100%, 1);
    font-family: "Roboto";
    font-weight: 500;
}

