.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: #13131580;
    padding: 12px;
    font-family: "Roboto";
    color: hsla(0, 0%, 100%, 1);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 600;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 12px;
}
.telNumber{
    color: hsla(0, 0%, 100%, 1);
    font-family: "Roboto";
    font-weight: 500;
}

.images{
    width: 103.7241439819336px;
    height: 32;
}

.elements:hover{
    font-weight: 600;
    font-size: 20px;
}