/* Обёртка главный флексбокс */
.austronaut {  
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Контейнер с астронафтом + а также логотип фирмы */
.flexbox-container {
    display: flex;
    justify-content: space-between;
}

/* Логотип фирмы ОРИОН обернутый в саб контейнер чтобы сделать столбец */
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ЗАДАЛ РАЗМЕРЫ ДЛЯ КОНТЕЙНЕРОВ STUDIO ORION Я ПЫТАЛСЯ СДЕЛАТЬ НАДПИСЬ В ТЕГЕ <p> но так выглядело лучше насколько правильно ? тоже svg надписи */

.sub-container__studio-sign {
    width: 290px;
    height: 33px;
}
.sub-container__orion-sign {
    width: 317;
    height: 101; 
}

/* Используйте эффективные технологии svg надпись */
.austronaut__effective-tools-sign {
    width: 199px;
    height: 105px;
}

/* DATE 2024 + COPYRIGHT СИМВОЛ */
.austronaut__date {
    align-self: flex-end;
    padding-top: 68px;
    padding-bottom: 32px;
    font-weight: 600;
    font-size: 20px;
}