// page-content
$page-content: 1200px;
//переменная для размера шрифта HTML страницы
$font-size: 4px;
//переменная base-size чтобы делать паддинги и боттомы относительными
$base-size: 4px;
// переменные для ШАПКИ
$bg-header: hsla(236, 5%, 8%, 0.5);
// переменная для декоративного фона
$line-color: hsla(0, 0%, 100%, 1);
// переменная для цвета шрифта, кроме модификаторов
$font-color: hsla(0, 0%, 100%, 1);