// Задал базовые настройки страницы а именно сам page,page-content, fonts
@use './variables' as vars;
@use './mixin' as mixin;
@use './fonts.scss';

* {
    @include mixin.reset-list;
}


html {
    font-size: vars.$font-size;
}

body {
    font-size: 4rem;
}

.page {
    display: flex;
    flex-direction: column;
    background-image: url('/assets/imgs/BGmain.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    color: vars.$font-color; 

    &-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: vars.$page-content;
        margin: 0 auto;
    }
}

