// Задал базовые настройки страницы а именно сам page,page-content, fonts
@use './variables' as vars;
@use './fonts.scss';

.page {
    display: flex;
    flex-direction: column;
    background-image: url('/assets/imgs/BGmain.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto';
    color: vars.$font-color;

    
    &-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

