@use "variables" as vars;

* {
    box-sizing: content-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(vars.$base-size * 4) 0;
    z-index: 0;
    &::before{
        content: "";
        position: absolute;
        background-color: vars.$bg-header;
        right: 0;
        width: 100%;
        max-width: calc(vars.$base-size * 640);
        height: 100%;
        max-height: calc(vars.$base-size * 17);
        z-index: -1;
    }; 

    .nav {
        display: flex;
        justify-content: space-between;
        column-gap: calc(vars.$base-size * 4);
        font-weight: 500;
        font-size: calc(vars.$base-size * 3);
        &__element {
            color: vars.$font-color;
        }
    }
    &__number{
        color: vars.$font-color;
        font-weight: 500;
        font-size: 3rem;
    }
}