@use "variables" as vars;

* {
    box-sizing: content-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    z-index: 0;
    &::before{
        content: "";
        position: absolute;
        background-color: vars.$bg-header;
        left: 0;
        width: 100%;
        max-width: 1920px;
        height: 100%;
        max-height: 68px;
        z-index: -1;
    };
    &::before{
        content: "";
        position: absolute;
        background-color: vars.$bg-header;
        right: 0;
        width: 100%;
        max-width: 2560px;
        height: 100%;
        max-height: 68px;
        z-index: -1;
    };

    .nav {
        display: flex;
        justify-content: space-between;
        column-gap: 12px;
        font-weight: 500;
        font-size: 12px;
        &__element {
            color: vars.$font-color;
        }
    }
    &__number{
        color: vars.$font-color;
        font-weight: 500;
        font-size: 12px;
    }
}