@use './variables' as vars;

.main-content {
    display: flex;
    flex-direction: column;
    .section-first {
        display: flex;
        flex-direction: column;
        .wrapper-one {
            display: flex;
            align-items: center;
            &__line {
                position: relative;
                top: calc(vars.$base-size * 82.5);
                width: calc(vars.$base-size * 79.25);
                height: calc(vars.$base-size * 214);
                border-top: 1px solid vars.$line-color;
            }
            &__austronaut {
                padding-top: calc(vars.$base-size * 20);
                padding-bottom: calc(vars.$base-size * 37.62);
            }
            &__company-name {
                font-weight: 300;
                font-size: 7rem;
                padding-bottom: calc(vars.$base-size * 2.95);
                letter-spacing: calc(vars.$base-size * 1.4);
                width: calc(vars.$base-size * 79);
                height: calc(vars.$base-size * 214);
                text-align: end;
                text-shadow: 2px 2px 2px black;
                position: relative;
                top: calc(vars.$base-size * 78.25);
                
                
                .wrapper-one_logo-sign_big {
                    font-weight: 400;
                    font-size: 26rem;
                    letter-spacing: calc(vars.$base-size * 6.5);
                }
            }
        }
        .wrapper-two{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            max-width: calc(vars.$base-size * 300);
            padding-top: calc(vars.$base-size * 157);
            position: absolute;
            &__date {  
                text-align: end;
                font-weight: 600;
                font-size: 5rem;
                padding: calc(vars.$base-size * 17) 0 calc(vars.$base-size * 8) 0;  
            }
            &__sign {
                width: fit-content;
                font-weight: 500;
                font-size: 7.5rem;
                line-height: 100%;
            }
        }
    }
}


