@use './variables' as vars;

.main-content {
    display: flex;
    flex-direction: column;
    .section-first {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .wrapper-one {
            display: flex;
            align-items: center;
            &__line {
                position: relative;
                top: calc(vars.$base-size * 82.5);
                width: calc(vars.$base-size * 79.25);
                height: calc(vars.$base-size * 214);
                border-top: 1px solid vars.$line-color;
            }
            &__austronaut {
                padding-top: calc(vars.$base-size * 20);
                padding-bottom: calc(vars.$base-size * 37.62);
                position: relative;
                left: calc(vars.$base-size * 8.645);
            }
            &__company-name {
                font-weight: 300;
                font-size: 7rem;
                padding-bottom: calc(vars.$base-size * 2.95);
                letter-spacing: calc(vars.$base-size * 1.4);
                width: calc(vars.$base-size * 79);
                height: calc(vars.$base-size * 214);
                text-align: end;
                text-shadow: 2px 2px 2px black;
                position: relative;
                top: calc(vars.$base-size * 78.25);
                
                
                
                .wrapper-one_logo-sign_big {
                    font-weight: 400;
                    font-size: 26rem;
                    letter-spacing: calc(vars.$base-size * 6.5);
                }
            }
        }
        .wrapper-two{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            max-width: calc(vars.$base-size * 300);
            padding-top: calc(vars.$base-size * 157);
            position: absolute;
            &__date {  
                text-align: end;
                font-weight: 600;
                font-size: 5rem;
                padding: calc(vars.$base-size * 17) 0 calc(vars.$base-size * 8) 0;  
            }
            &__sign {
                width: fit-content;
                font-weight: 500;
                font-size: 7.5rem;
                line-height: 100%;
            }
        }
    }  
}


.section-two {
    background-color: hsla(0, 10%, 65%, 0.25);
    backdrop-filter: blur(20px);
    z-index: 1;
    .content {
        .spacecraft {
        position: absolute;
        z-index: -1;
        filter: blur(8px);
        align-self: flex-end;
    }
        width: 100%;
        max-width: vars.$page-content;
        margin: 0 auto;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content__log {
            align-self: flex-start;
            padding-top: 111px;
        }
        .content__decor-line{
            width: 223px;
            border-top: 1px solid white;
            align-self: flex-start;
            margin-top: 156px;
        }
        .info-block {
            padding-top: 128px;
            width: 594px;
            display: flex;
            flex-direction: column;
            .content__info1{
                font-weight: 300;
                font-size: 48px;
                line-height: 100%;
                letter-spacing: calc(vars.$base-size * 1.4);
                padding-bottom: 32px;
            }
            .content__info2{
                font-weight: 500;
                font-size: 30px;
                line-height: 100%;
                letter-spacing: 0%;
                padding-bottom: 32px;
            }
            .content__info3{
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                padding-bottom: 32px;

            }
            .content__info4{
                font-family: Roboto;
                font-weight: 500;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                padding-bottom: 32px;
            }
            .content__info5{
                font-family: Roboto;
                font-weight: 600;
                font-size: 20px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: end;
                padding-bottom: 32px;
                padding-top: 36px;
            }
        }
    }
}
